.button{
    height: 100px;
    width: 250px;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    color: inherit;
    padding: 10px;
}

.image-card{
    margin-right: 15px;
}