.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    justify-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 31%; 
    margin: 10px;
}

.image {
    background-color: inherit;
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  

  .image:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1)w;
  }
  