.fondo{
    position: relative;
    width: 100%;
    height: 100%;

}

.sape{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}

.text-on-image{
    font-size: 45;
    color: #fab200;
    position: absolute;

}